<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reprodução Automática de Áudio</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
</head>
<body>

  <ion-segment value="default">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <div>
        {% block content %}
        <h1> My First Try Using Flask </h1>
        <p> Flask is Fun </p>
        {% endblock %}
      </div>
    </ion-card>

    <!-- Código de áudio correto -->
    <audio id="audioPlayer" controls>
      <source src="{{ url_for('static', filename='output.mp3') }}" type="audio/mpeg">
      Seu navegador não suporta o elemento de áudio.
    </audio>

    <figure>
      <figcaption>Ouça o áudio gerado:</figcaption>
      <audio id="audioDownload" controls src="{{ url_for('static', filename='output.mp3') }}"></audio>
      <a href="{{ url_for('static', filename='output.mp3') }}">Baixar áudio</a>
    </figure>
  </ion-segment>

  <script>
    const audioPlayer = document.getElementById('audioPlayer');
    let lastModified = 0;

    function checkAudioUpdate() {
      fetch('{{ url_for("static", filename="output.mp3") }}', { method: 'HEAD' })
        .then(response => {
          if (response.ok) {
            const newLastModified = Date.parse(response.headers.get('Last-Modified'));
            if (newLastModified > lastModified) {
              lastModified = newLastModified;
              audioPlayer.load(); // Recarregar o áudio
              audioPlayer.play(); // Reproduzir o áudio automaticamente
            }
          }
        })
        .catch(error => {
          console.error('Erro ao verificar atualização do áudio:', error);
        });
    }

    // Verificar a atualização do áudio a cada 5 segundos
    //setInterval(checkAudioUpdate, 5000); 
  </script>

  <style>
    ion-item {
      --padding-start: 0;
    }
  </style>

</body>
</html>
